.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.groupButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
